.container.py-4
  .d-flex.align-items-center.gap-2.mb-4
    = link_to league_path(@league, anchor: "seasons"), class: "btn btn-outline-secondary btn-sm" do
      i.bi.bi-arrow-left
    h1.mb-0 Новый сезон

  = render "form", season: @season
