- if resource.errors.any?
  .alert.alert-danger data-turbo-temporary=true
    strong
      = "Форму не удалось сохранить (#{resource.errors.count}):"
    ul.mb-0.mt-1
      - resource.errors.full_messages.each do |message|
        li= message
