.container.py-4
  h1.mb-4 Пользователи

  - if @users.any?
    .table-responsive
      table.table.table-striped.table-hover.align-middle
        thead
          tr
            th #
            th Фото
            th Имя
            th Дата регистрации
        tbody
          - @users.each_with_index do |user, i|
            tr
              td= i + 1
              td
                = render "shared/avatar", user: user
              td= user.full_name
              td= user.created_at.strftime("%d.%m.%Y")
  - else
    p.text-muted Пользователей пока нет.
