.container.py-4
  h1.mb-4 Пользователи

  - if @users.any?
    .table-responsive
      table.table.table-striped.table-hover.align-middle
        thead.table-dark
          tr
            th #
            th Фото
            th Имя
            th Email
            th Дата регистрации
        tbody
          - @users.each_with_index do |user, i|
            tr
              td= i + 1
              td
                - if user.photo.attached?
                  = image_tag user.photo, class: "rounded-circle", style: "width: 40px; height: 40px; object-fit: cover;"
                - else
                  .rounded-circle.bg-secondary.d-inline-flex.align-items-center.justify-content-center style="width: 40px; height: 40px;"
                    span.text-white.small = user.full_name.first.upcase
              td= user.full_name
              td= user.email
              td= user.created_at.strftime("%d.%m.%Y")
  - else
    p.text-muted Пользователей пока нет.
