.container.py-4
  .row.justify-content-center
    .col-md-5
      .card
        .card-body.p-4
          h2.card-title.mb-4= t('.title')

          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            = render "devise/shared/error_messages", resource: resource

            .mb-3
              = f.label :email, class: "form-label"
              = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"

            = f.submit t('.submit'), class: "btn btn-primary w-100"

          hr.my-3
          .text-center.small
            = render "devise/shared/links"
