- if (tournament.active? || tournament.completed?) && matches.any?
  - if tournament.round_robin?
    div data-slide="" data-slide-title="Расписание"
      = render "matches/round_robin", matches: matches, tournament: tournament, is_owner: false
  - elsif tournament.olympic?
    = render partial: "tournaments/tv_bracket_slide", locals: { bracket_rounds: bracket_rounds, third_place_match: third_place_match, slide_title: "Основной турнир" }
    - if loser_bracket_rounds&.any?
      = render partial: "tournaments/tv_bracket_slide", locals: { bracket_rounds: loser_bracket_rounds, third_place_match: loser_third_place_match, slide_title: "Доп. турнир" }
  - elsif tournament.mixed?
    = render partial: "tournaments/tv_group_slide", locals: { groups: group_data, tournament: tournament }
    - if bracket_rounds.any?
      = render partial: "tournaments/tv_bracket_slide", locals: { bracket_rounds: bracket_rounds, third_place_match: third_place_match, slide_title: "Основной турнир" }
    - if loser_bracket_rounds&.any?
      = render partial: "tournaments/tv_bracket_slide", locals: { bracket_rounds: loser_bracket_rounds, third_place_match: loser_third_place_match, slide_title: "Доп. турнир" }
  - custom_bracket_data&.each do |data|
    - if data[:rounds].any?
      = render partial: "tournaments/tv_bracket_slide", locals: { bracket_rounds: data[:rounds], third_place_match: data[:third_place], slide_title: data[:bracket].name }
  - result_card_matches&.each_slice(4) do |group|
    = render partial: "tournaments/tv_results_slide", locals: { matches: group }
- else
  .text-center.py-5
    p.text-muted.fs-5 Матчи ещё не начались
