= turbo_stream_from "tournament_#{@tournament.id}_online"

.container-fluid.px-4
  div data-controller="slideshow" data-slideshow-interval-value="10000"
    p#slide-title.slide-title
    div id="tournament_matches"
      = render partial: "tournaments/online_matches", locals: @match_data.to_locals
    div#slide-dots.slide-dots
