#turboConfirmModal.modal.fade aria-hidden="true" aria-labelledby="turboConfirmModalLabel" tabindex="-1"
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        h5.modal-title#turboConfirmModalLabel Подтверждение
        button.btn-close type="button" data-bs-dismiss="modal" aria-label="Закрыть"
      .modal-body#turboConfirmModalBody
      .modal-footer
        button.btn.btn-secondary type="button" data-bs-dismiss="modal" Отмена
        button.btn.btn-danger#turboConfirmModalConfirm type="button" Подтвердить
