doctype html
html data-bs-theme="light"
  head
    meta charset="utf-8"
    title= "#{@season.name} — Результаты"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    css:
      body { background: #fff; }
  body
    = yield
